html{
  width: 500px;
  margin: 0 auto;
  background-color: hsl(27, 66%, 92%);
  font-family: 'DM Sans', sans-serif;
}

.nav{
  height: 75px;
  width: 500px;
  background-color: hsl(10, 79%, 65%);
  border-radius: 15px;
  color: #fff;
}

.balance-total{
  width: 110px;
  margin: 2px;
  padding: 5px;
  list-style-type: none;
  font-size: 14px;
  
}

.total {
  width: 110px;
  padding-left: 8px;
  list-style-type: none;
  font-weight: 700;
  font-size: 25px;
}



.myChart{
  height: 500px;
  width: 500px;
  border: 1px solid black;
}

.total-month{
  color: grey;
}

.total-amount{
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}