@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

* {
  font-family: "DM Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  background-color: hsl(27, 66%, 92%);
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container {
  width: 350px;
}
.top-nav {
  border-radius: 1rem;
  background-color: hsl(10, 79%, 65%);
  padding: 1rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.balance {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.balance p {
  font-weight: 400;
}
.footer {
  background-color: white;
  border-radius: 1rem;
  margin-top: 1rem;
  padding: 1rem;
}
.footer h1 {
  color: hsl(25, 47%, 15%);
}
#myChart {
  margin: 1rem 0;
}
.divider {
  background-color: hsl(27, 66%, 92%);
  width: 100%;
  height: 2px;
  margin-bottom: 1rem;
}
.totals {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.total-month p {
  color: hsl(28, 10%, 53%);
}
.total-month h2 {
  color: hsl(25, 47%, 15%);
}
.last-month p:first-child {
  font-weight: 700;
  color: hsl(25, 47%, 15%);
}
.last-month p:last-child {
  color: hsl(28, 10%, 53%);
}